html {
  font-family: "Open Sans", "PT Mono", sans-serif;

  background-color: #595656;
}

.fear {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #961a32;
  padding-left: 1.75em;
  padding-right: 1.75em;
}

.rotate {
  transform: rotate(90deg);
}

.p1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.p2 {
  font-family: "PT Mono", monospace;
  color: #fff;
  margin: 0;
  position: relative;
}

.p3 {
  font-family: "PT Mono", monospace;
  color: #fff;
  margin: 0;
}

.p4 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0;
}
