html {
  font-family: "Open Sans", "PT Mono", sans-serif;

  background-color: #8c8b88;
}

.fear {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  transform: rotate(90deg);
  position: relative;
  display: inline-block;
  top: 100px;
  background-color: #961a32;
}

.p1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
}

.p2 {
  font-family: "PT Mono", monospace;
  color: #fff;
  position: relative;
}
