html {
  font-family: "Open Sans", "PT Mono", sans-serif;

  background-color: #8c8b88;
}

.fear {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #961a32;
  transform: rotate(90deg);
}

.p1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  padding: 0;
}

.p2 {
  font-family: "PT Mono", monospace;
  color: #fff;
  position: relative;
  margin: 0;
}

.p3 {
  font-family: "PT Mono", monospace;
  color: #fff;
  position: relative;
  margin: 0;
}

.p4 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  margin: 0;
}
